* {
  margin: 0;
  padding: 0;
}

.carousel {
  display: flex;
  width: 100%;
}

.star {
  height: 1%;
  width: 1%;
}
.star1 {
  height: 1%;
  width: 1%;
}

.greatemperor {
  background: url(https://templates.iqonic.design/streamit/frontend/html/images/texure.jpg);
  background-repeat: repeat-x;
  background-position: 100% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: -1.34688px;
  font-size: 3.5em;
  width: 40%;
  margin: 0% 0% 0% 0%;
  padding: 1% 1% 3% 0%;
  filter: brightness(100%) !important;
}
@media (max-width: 992px) {
  .greatemperor,
  .title2,
  .stars,
  .para {
    width: 100%;
  }
}
.title2 {
  color: aliceblue;
}
.redplay {
  border: solid 2px black;
  background-color: var(--color-red);
  color: white;
  border-radius: 1%;
  padding: 1.5% 0.5% 1.5% 0.5%;
}
.redplay:hover {
  filter: brightness(50%);
}
.para {
  width: 50%;
  margin: 0% 0% 0% 0%;
  padding: 2% 0% 2% 0%;
  color: white;
  font-weight: 600;
  inline-size: 57%;
}
.stars {
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 1% 0%;
}
.title2 {
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 1% 0%;
}
.kid1 {
  margin-left: 0%;
  color: white;
  border-radius: 10%;
  padding: 0.05% 0.25% 0.25% 0.25%;
  background-color: grey;
  font-weight: 700;
}
.kid2 {
  margin-left: 1%;
}
.kid3 {
  margin-left: 1%;
}
.play {
  height: 8%;
  width: 8%;
  margin: -10% 0% 0% 73%;
  padding: 0% 0% 0% 0%;
}
@media (max-width: 992px) {
  .play {
    display: none;
  }
}
.play {
  transition: transform 1.2s ease-in;
}
.play:hover {
  transform: rotate(360deg);
}

.play2 {
  top: -21px;
  position: relative;
  height: 8%;
  width: 8%;
  margin: -10% 0% 0% 73%;
  padding: 0% 0% 0% 0%;
  display: none;
}

.play2:hover {
  display: block;
}

.playside {
  margin: -5.35% 0% 0% 83%;
  padding: 0% 0% 0% 0%;
  color: white;
  font-size: 1.8em;
  font-weight: 300;
}
@media (max-width: 992px) {
  .playside {
    display: none;
  }
}
.playside:hover {
  color: red;
}
.round {
  height: 0.5%;
  width: 0.5%;
  margin-left: 1%;
}
.imdb {
  margin-left: 1%;
}
.poly {
  height: 7.45%;
  width: 3%;
  margin: 0% 0% 0% 0%;
  padding: 1% 3% 0% 2%;
}
.poly2 {
  width: 10%;
  font-size: 1.5em;
}
/* first carousal over */
.dinosaur {
  background: url(https://templates.iqonic.design/streamit/frontend/html/images/texure.jpg);
  background-repeat: repeat-x;
  background-position: 100% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: -1.34688px;
  font-size: 3.5em;
  width: 40%;
  margin: 0% 0% 0% 0%;
  padding: 1% 1% 3% 0%;
  filter: brightness(100%) !important;
}
/* dinosaur background image*/

.holder {
  background: linear-gradient(
      rgba(27, 24, 24, 0.52),
      rgba(31, 27, 27, 0.455),
      rgba(20, 20, 20, 0.841),
      rgba(0, 0, 0, 0.782),
      rgba(0, 0, 0, 0.928)
    ),
    url();
  margin: 0% 5% 0% 5%;
  padding: 2% 2% 2% 2%;
  background-size: cover;
}
@media (max-width: 992px) {
  .dinosaur,
  .title2,
  .stars,
  .para {
    width: 100%;
  }
}
/* section {
  height: 90%;
  display: grid;
  place-items: center;
} */
/* .sbody {
  width: 100%;
  max-width: 100%;
  height: 90%;
  position: relative;
} */
.sbody {
  width: 170px;
  max-width: 100%;
  height: 90%;
  position: relative;
  margin: 8% 0% 0% 4%;
}
.carousalholder {
  width: 800px;
  max-width: 2500px;
  height: 90%;
  transition: all 0.5s;
}

.carousalholder:hover {
  position: relative;
  z-index: 10;
  border: solid 5px white;
  transition-duration: 2s;
  transform: translateX(-50px);
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  bottom: 89%;
  top: 70%;
  left: -4%;
  margin: 20% 2% 11% 0%;
}

.btn-next {
  top: 45%;
  right: -2%;
  margin: 20% 0% 0% 0%;
}
.pic1 {
  width: 90%;
  height: 100%;
}
.pic2 {
  width: 90%;
  height: 100%;
}
