body {
  background-color: black;
}

.popularhead {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-top: 5%;
  body{
    background-color: black;
  }
  .popularhead{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-top: 5%;
}
.popularhead12 {
  color: #e50914;
  font-size: 1.777em;
  font-weight: 700;
  text-decoration: none;
}
.popularhead12 a {
  color: #e50914;
  font-size: 1.777em;
  font-weight: 700;
  text-decoration: none;
  font-size: 100%;
}
.popularhead1 {
  color: #ffffff;
  font-size: 1.777em;
  font-weight: 400;
}

.movielist {
  display: inline-block;
  width: 25%;
  height: 65%;
}
.movielist1 {
  margin: 20px;
  object-fit: contain;
  height: 200px;
}
.btnplay {
  background-color: #e50914;
  margin-left: 11%;
  border: none;
  margin-top: 8%;
  color: #ffffff;
  width: 32%;
  padding: 3%;
  padding-left: 10px;
  display: flex;
  flex-wrap: nowrap;
}
.playnow {
  display: inline-block;
  height: 12%;
  width: 12%;
  padding-right: 10px;
}
.moviename {
  color: #ffffff;
  padding-top: 20%;
  padding-left: 11%;
  font-size: 1.125em;
  font-weight: 400;
}
.duration {
  color: #ffffff;
  background-image: url();
  background-repeat: no-repeat;
  padding-top: 3%;
  padding-left: 11%;
  font-size: 14px;
  font-weight: 400;
}
/* imagehover */
#imghover:hover {
  transform: scaleX(1);
  opacity: 1;
}

/* IMAGEHOVER */
/* .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */




